

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 200;
  color: #111;
  background-color: #eee;
}

p {
  line-height: 30px;
}

h1 {
  margin: 1em 0;
  font-size: 1.5em;
  text-align: center;
}

#container {
  width: 90%;
  padding-bottom: 20px;
  margin: 0 auto;
}

#navigation {
  text-align: center;
}

#avatar img {
  width: 80px;
  border-radius: 100px;

  display: block;
  margin: 0 auto;
  padding-bottom: 15px;
}

.icon img {
  width: 40px;
}

#navigation {
  margin: 20px 0 0 0;
  font-size: 40px;
}

#bio {
  font-size: 21px;
}

a {
  color: #777;
  text-decoration: none;
}

a:hover {
  color: #84596B;
}

/* Larger screens */
@media (min-width: 710px) {
  #container {
    width: 700px;
  }

  #avatar img {
    width: 140px;
  }

  .icon img {
    width: 70px;
  }

  #navigation {
    margin: 40px 0 0 0;
    font-size: 70px;
  }
}
