
code, pre {
  font-size: 14px;
}

.published_header {
  color: #666666;
  font-weight: bold;
  padding-top: 20px;
}

.published_det {
  padding-left: 10px;
}

.header_content a {
  color: inherit;
  text-decoration: none;
}

.footnote {
  font-size: 13px;
}

.archetype_image {
  position: relative;
  float: right;
}

ul.nav {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.nav li {
  padding: 0px;
  margin: 0px !important;
  list-style: none;
}
.nav li a {
  display: block;
  padding: 5px 10px;
  text-align: left;
  border-bottom: 1px solid #fff;
  color: #333;
  text-decoration: none;
}
.nav li a:hover {
  color: #FA5E5B;
}
.nav li:last-child {
  border-bottom: none;
}
table.data {
  background-color: #dddddd; }
  table.data tr:nth-child(2n) {
    background-color: #eeeeee; }
  table.data td {
    border: 1px solid #999999;
    padding: 5px; }