!!!
%html
  %head
    %title mriddle.com
    %link{rel: 'stylesheet', href: '/stylesheet.css', type: 'text/css'}
  %body
    #content
      %header#header
        %h1#page_title
          mriddle.com
        %p#slogan It's a feature not a bug!
      = yield
