<div class="post-summary">
  <div class="post">
    <div class="row-fluid">
      <div class="span12 well">
        <div class="span10">
          <div class="post_title">
            <a href="{{ site.baseurl }}{{ post.url }}">
              <b>{{ post.title }}</b></a>
          </div>
        </div>
        <div class="span2">
          <div class="post_details">
            <div class="published">
              <div class="modified">
                <div class="published_date">
                  <span class="modified_by"></span>
                  <span class="modified_on">{{ post.date | date_to_string }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
