#content
  padding-top: 20px
  padding-bottom: 20px

.post_title
  border-bottom: 2px solid #E3E3E3
  margin-bottom: 30px
  a
    color: inherit
    text-decoration: none

.post_details
  color: #999
  line-height: 26px
  font-size: 85%

.published_header
  color: #666
  font-weight: bold
  padding-top: 20px

.published_det
  padding-left: 10px

.header_content a
  color: inherit
  text-decoration: none

h1
  font-size: 30px

#logo
  background: url(logo.png)
  width: 128px
  height: 128px
  margin: auto
  margin-top: 15px
  margin-bottom: 15px