#content
  padding-top: 20px
  padding-bottom: 20px

.post_title a
  color: inherit

.post_details
  color: #999
  line-height: 26px
  font-size: 85%

.published_header
  color: #666
  font-weight: bold
  padding-top: 20px

.published_det
  padding-left: 10px